SECRET_KEY=
DEBUG=True #fase de desarrollo
ALLOWED_HOSTS=127.0.0.1,localhost

# PostgreSQL
DB_NAME=
DB_USER=
DB_PASSWORD=
DB_HOST=
DB_PORT=5432

#api aemet
AEMET_API_KEY=

#gemini api key
API_KEY_GEMINI=